<a href="https://colab.research.google.com/github/Rohithk2003/qrFactorisation/blob/main/tenhundred_ds_new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np
import random
# SQL queries
sql_queries = {
"Q1": "SELECT USN, StudentName, Major, GPA FROM Student WHERE GPA > 3.5",
"Q2": "SELECT USN, StudentName, Major, GPA FROM Student WHERE GPA < 2.0 AND AcademicProbation = 1",
"Q3": "SELECT USN, StudentName, Major, GraduationDate FROM Student WHERE GraduationDate >= '2023-05-31'",
"Q4": "SELECT USN, StudentName, ActivityName FROM StudentExtracurricularActivities JOIN Student ON StudentExtracurricularActivities.USN = Student.USN WHERE ActivityName = 'Computer Science Club'",
"Q5": "SELECT USN, StudentName, AidYear FROM FinancialAi JOIN Student ON FinancialAid.USN = Student.USN WHERE AidYear = 2023",
"Q6": "SELECT CourseCode, CourseTitle FROM Course GROUP BY CourseCode, CourseTitle HAVING COUNT(DISTINCT Department) > 1",
"Q7": "SELECT CourseCode, CourseTitle, PrerequisiteCode FROM Course JOIN Prerequisites ON Course.CourseCode = Prerequisites.PrerequisiteCode",
"Q8": "SELECT CourseCode, CourseTitle FROM Course WHERE Online = 1",
"Q9": "SELECT CourseCode, CourseTitle FROM Course WHERE Discontinued = 1",
"Q10": "SELECT CourseCode, CourseTitle, TeacherName FROM Course JOIN Teacher ON Course.TID = Teacher.TID WHERE TeacherName = 'John Doe'",
"Q11": "SELECT CourseCode, CourseTitle, COUNT(*) AS NumTimesTaught FROM IAMarks GROUP BY CourseCode, CourseTitle HAVING NumTimesTaught > 1",
"Q12": "SELECT TID, TeacherName, PublicationDate FROM TeacherPublications WHERE PublicationType = 'Journal' AND PublicationDate >= '2023-01-01'",
"Q13": "SELECT TID, TeacherName, GrantAmount FROM TeacherGrants WHERE GrantDate >= '2023-01-01'",
"Q14": "SELECT TID, TeacherName, CommitteeName FROM TeacherCommittees WHERE CommitteeDate >= '2023-01-01'",
"Q15": "SELECT TID, TeacherName FROM Teacher WHERE RetirementDate = '2023-05-31'",
"Q16": "SELECT USN, StudentName, Semester, TotalAttended / TotalClasses * 100 AS AttendancePercentage FROM IAMarks GROUP BY USN, StudentName, Semester HAVING AttendancePercentage > 90",
"Q17": "SELECT CourseCode, CourseTitle, Textbook FROM Course WHERE Textbook IS NOT NULL",
"Q18": "SELECT CourseCode, CourseTitle, ResearchProject FROM Course WHERE ResearchProject = 1",
"Q19": "SELECT CourseCode, CourseTitle, FinalExam FROM Course WHERE FinalExam = 1",
"Q20": "SELECT CourseCode, CourseTitle, MEDIAN(FinalIA) AS MedianIA FROM IAMarks GROUP BY CourseCode, CourseTitle HAVING MedianIA > 90",
"Q21": "SELECT USN, StudentName, TransferCollege, TransferGPA FROM Student WHERE TransferCollege IS NOT NULL",
"Q22": "SELECT USN, StudentName, Major1, Major2 FROM Student WHERE Major1 <> Major2",
"Q23": "SELECT USN, StudentName, GraduationHonors FROM Student WHERE GraduationHonors IS NOT NULL",
"Q24": "SELECT USN, StudentName, StudyAbroadCountry, StudyAbroadSemester FROM Student WHERE StudyAbroadCountry IS NOT NULL",
"Q25": "SELECT USN, StudentName, ScholarshipName, ScholarshipAmount FROM StudentScholarships JOIN Scholarships ON StudentScholarships.ScholarshipID = Scholarships.ScholarshipID",
"Q26": "SELECT USN, StudentName, InternshipCompany, InternshipTitle FROM StudentInternships JOIN Internships ON StudentInternships.InternshipID = Internships.InternshipID",
"Q27": "SELECT CourseCode, CourseTitle, Language FROM Course",
"Q28": "SELECT CourseCode, CourseTitle, Semester FROM Course WHERE Semester = 5",
"Q29": "SELECT CourseCode, CourseTitle, Major FROM CourseRequirements JOIN Majors ON CourseRequirements.MajorID = Majors.MajorID",
"Q30": "SELECT CourseCode, CourseTitle, WaitlistSize FROM IAMarks GROUP BY CourseCode, CourseTitle HAVING WaitlistSize > 0",
"Q31": "SELECT CourseCode, CourseTitle, CancellationDate FROM CancelledCourses",
"Q32": "SELECT TID, TeacherName, PHDField FROM Teacher WHERE PHDField IS NOT NULL",
"Q33": "SELECT TID, TeacherName, AwardName FROM TeacherAwards",
"Q34": "SELECT USN, StudentName, CourseCode, CourseTitle, COUNT(*) AS NumTimesTaken FROM IAMarks GROUP BY USN, StudentName, CourseCode, CourseTitle HAVING NumTimesTaken > 1",
"Q35": "SELECT USN, StudentName, Semester FROM IAMarks GROUP BY USN, StudentName, Semester HAVING COUNT(*) = TotalClasses AND TotalAttended = TotalClasses",
"Q36": "SELECT CourseCode, CourseTitle, Major, (COUNT(*) / COUNT(FinalIA) * 100) AS PassRate FROM IAMarks JOIN Student ON IAMarks.USN = Student.USN GROUP BY CourseCode, CourseTitle, Major HAVING PassRate < 50",
"Q37": "SELECT TID, TeacherName, Semester, AVG(Rating) AS AvgRating FROM TeacherRatings GROUP BY TID, TeacherName, Semester HAVING AvgRating > 4.5",
"Q38": "SELECT USN, StudentName, CourseCode, CourseTitle, COUNT(*) AS NumTimesWithdrew FROM IAMarks WHERE FinalIA IS NULL GROUP BY USN, StudentName, CourseCode, CourseTitleHAVING NumTimesWithdrew > 1",
"Q39": "SELECT CourseCode, CourseTitle FROM Course WHERE CourseCode IN (SELECT CourseCode FROM StudentRatings WHERE Rating > 4.0)",
"Q40": "SELECT CourseCode, CourseTitle FROM Course JOIN IAMarks ON Course.CourseCode = IAMarks.CourseCode WHERE AverageMark > 80",
"Q41": "SELECT TeacherName, COUNT(*) AS NumStudentsTaught FROM IAMarks GROUP BY TeacherName ORDER BY NumStudentsTaught DESC LIMIT 10",
"Q42": "SELECT CourseCode, CourseTitle, AVG(FinalIA) AS AvgIA FROM IAMarks GROUP BY CourseCode, CourseTitle ORDER BY AvgIA DESC LIMIT 10",
"Q43": "SELECT TeacherName, AVG(Rating) AS AvgRating FROM TeacherRatings GROUP BY TeacherName ORDER BY AvgRating DESC LIMIT 10",
"Q44": "SELECT CourseCode, CourseTitle, COUNT(*) AS NumStudentsEnrolled FROM IAMarks GROUP BY CourseCode, CourseTitle ORDER BY NumStudentsEnrolled DESC LIMIT 10",
"Q45": "SELECT TID, TeacherName, COUNT(*) AS NumCoursesTaught FROM IAMarks GROUP BY TID, TeacherName ORDER BY NumCoursesTaught DESC LIMIT 10",
"Q46": "SELECT Department, COUNT(*) AS NumStudents FROM Student GROUP BY Department ORDER BY NumStudents DESC LIMIT 10",
"Q47": "SELECT Department, AVG(GPA) AS AvgGPA FROM Student GROUP BY Department ORDER BY AvgGPA DESC LIMIT 10",
"Q48": "SELECT Department, COUNT(*) AS NumCoursesOffered FROM Course GROUP BY Department ORDER BY NumCoursesOffered DESC LIMIT 10",
"Q49": "SELECT Department, AVG(AverageMark) AS AvgCourseMark FROM IAMarks GROUP BY Department ORDER BY AvgCourseMark DESC LIMIT 10",
"Q50": "SELECT Year, COUNT(*) AS NumStudentsGraduated FROM Student WHERE GraduationDate >= '2022-05-31' AND GraduationDate < '2023-05-31' GROUP BY Year ORDER BY NumStudentsGraduated DESC",
"Q51": "SELECT Year, AVG(GPA) AS AvgGPAGraduated FROM Student WHERE GraduationDate >= '2022-05-31' AND GraduationDate < '2023-05-31' GROUP BY Year ORDER BY AvgGPAGraduated DESC",
"Q52": "SELECT Year, COUNT(*) AS NumCoursesOffered FROM Course WHERE CourseCode NOT IN (SELECT CourseCode FROM IAMarks WHERE Year >= 2022) GROUP BY Year ORDER BY NumCoursesOffered DESC",
"Q53": "SELECT Year, AVG(AverageMark) AS AvgCourseMark FROM IAMarks WHERE Year >= 2022 GROUP BY Year ORDER BY AvgCourseMark DESC",
"Q54": "SELECT TID, TeacherName, COUNT(*) AS NumStudentsTaught FROM IAMarks WHERE Year >= 2022 GROUP BY TID, TeacherName ORDER BY NumStudentsTaught DESC LIMIT 10",
"Q55": "SELECT TID, TeacherName, AVG(Rating) AS AvgRating FROM TeacherRatings WHERE Year >= 2022 GROUP BY TID, TeacherName ORDER BY AvgRating DESC LIMIT 10",
"Q56": "SELECT TID, TeacherName, COUNT(*) AS NumCoursesTaught FROM IAMarks WHERE Year >= 2022 AND Department = 'Computer Science' GROUP BY TID, TeacherName ORDER BY NumCoursesTaught DESC LIMIT 10",
"Q57": "SELECT TID, TeacherName, AVG(Rating) AS AvgRating FROM TeacherRatings WHERE Year >= 2022 AND Department = 'Computer Science' GROUP BY TID, TeacherName ORDER BY AvgRating DESC LIMIT 10",
"Q58": "SELECT CourseCode, CourseTitle, AVG(FinalIA) AS AvgIA FROM IAMarks WHERE Year >= 2022 AND Department = 'Computer Science' GROUP BY CourseCode, CourseTitle ORDER BY AvgIA DESC LIMIT 10",
"Q59": "SELECT CourseCode, CourseTitle, COUNT(*) AS NumStudentsEnrolled FROM IAMarks WHERE Year >= 2022 AND Department = 'Computer Science' GROUP BY CourseCode, CourseTitle",
"Q60": "SELECT CourseCode, CourseTitle, COUNT(*) AS NumStudentsPassed FROM IAMarks WHERE Year >= 2022 AND Department = 'Computer Science' AND FinalIA >= 50 GROUP BY CourseCode, CourseTitle ORDER BY NumStudentsPassed DESC",
"Q61": "SELECT Major, COUNT(*) AS NumGraduates FROM Student WHERE GraduationDate >= '2022-05-31' AND GraduationDate < '2023-05-31' GROUP BY Major ORDER BY NumGraduates DESC",
"Q62": "SELECT Major, AVG(GPA) AS AvgGPAGraduated FROM Student WHERE GraduationDate >= '2022-05-31' AND GraduationDate < '2023-05-31' GROUP BY Major ORDER BY AvgGPAGraduated DESC",
"Q63": "SELECT TID, TeacherName, COUNT(*) AS NumStudentsTaught FROM IAMarks WHERE Year >= 2022 AND Department != 'Computer Science' GROUP BY TID, TeacherName ORDER BY NumStudentsTaught DESC LIMIT 10",
"Q64": "SELECT TID, TeacherName, AVG(Rating) AS AvgRating FROM TeacherRatings WHERE Year >= 2022 AND Department != 'Computer Science' GROUP BY TID, TeacherName ORDER BY AvgRating DESC LIMIT 10",
"Q65": "SELECT TID, TeacherName, COUNT(*) AS NumCoursesTaught FROM IAMarks WHERE Year >= 2022 AND CourseCode NOT IN (SELECT CourseCode FROM IAMarks WHERE Department = 'Computer Science') GROUP BY TID, TeacherName ORDER BY NumCoursesTaught DESC LIMIT 10",
"Q66": "SELECT TID, TeacherName, AVG(Rating) AS AvgRating FROM TeacherRatings WHERE Year >= 2022 AND CourseCode NOT IN (SELECT CourseCode FROM IAMarks WHERE Department = 'Computer Science') GROUP BY TID, TeacherName ORDER BY AvgRating DESC LIMIT 10",
"Q67": "SELECT CourseCode, CourseTitle, AVG(FinalIA) AS AvgIA FROM IAMarks WHERE Year >= 2022 AND Department != 'Computer Science' GROUP BY CourseCode, CourseTitle ORDER BY AvgIA DESC LIMIT 10",
"Q68": "SELECT CourseCode, CourseTitle, COUNT(*) AS NumStudentsEnrolled FROM IAMarks WHERE Year >= 2022 AND Department != 'Computer Science' GROUP BY CourseCode, CourseTitle ORDER BY NumStudentsEnrolled DESC LIMIT 10",
"Q69": "SELECT CourseCode, CourseTitle, COUNT(*) AS NumStudentsPassed FROM IAMarks WHERE Year >= 2022 AND Department != 'Computer Science' AND FinalIA >= 50 GROUP BY CourseCode, CourseTitle ORDER BY NumStudentsPassed DESC",
"Q70": "SELECT Major, COUNT(*) AS NumGraduates FROM Student WHERE GraduationDate >= '2022-05-31' AND GraduationDate < '2023-05-31' AND Major != 'Computer Science' GROUP BY Major ORDER BY NumGraduates DESC",
"Q71": "SELECT Major, AVG(GPA) AS AvgGPAGraduated FROM Student WHERE GraduationDate >= '2022-05-31' AND GraduationDate < '2023-05-31' AND Major != 'Computer Science' GROUP BY Major ORDER BY AvgGPAGraduated DESC",
"Q72": "SELECT CourseCode, CourseTitle, COUNT(*) AS NumStudentsEnrolled FROM IAMarks JOIN Student ON IAMarks.USN = Student.USN WHERE Year >= 2022 AND Major IN ('Electrical Engineering', 'Mechanical Engineering') GROUP BY CourseCode, CourseTitle ORDER BY NumStudentsEnrolled DESC LIMIT 10",
"Q73": "SELECT CourseCode, CourseTitle, AVG(FinalIA) AS AvgIA, COUNT(*) AS NumStudentsEnrolled FROM IAMarks WHERE Year >= 2022 AND Major IN ('Electrical Engineering', 'Mechanical Engineering') GROUP BY CourseCode, CourseTitle ORDER BY AvgIA DESC, NumStudentsEnrolled DESC LIMIT 10",
"Q74": "SELECT TID, TeacherName, AVG(Rating) AS AvgRating FROM TeacherRatings WHERE Year >= 2022 AND Major IN ('Electrical Engineering', 'Mechanical Engineering') AND Department = 'Engineering' GROUP BY TID, TeacherName ORDER BY AvgRating DESC LIMIT 10",
"Q75": "SELECT TID, TeacherName, AVG(Rating) AS AvgRating FROM TeacherRatings WHERE Year >= 2022 AND Major IN ('Electrical Engineering', 'Mechanical Engineering') AND Department = 'Engineering' HAVING AvgRating > 4.5 GROUP BY TID, TeacherName ORDER BY AvgRating DESC LIMIT 10",
"Q76": "SELECT CourseCode, CourseTitle, AVG(FinalIA) AS AvgIA FROM IAMarks WHERE Year >= 2022 AND CourseCode IN (SELECT CourseCode FROM IAMarks WHERE Major = 'Computer Science' AND AvgFinalIA >= 80) GROUP BY CourseCode, CourseTitle ORDER BY AvgIA DESC LIMIT 10",
"Q77": "SELECT CourseCode, CourseTitle, COUNT(*) AS NumStudents, CASE WHEN AvgFinalIA >= 80 THEN 'High' ELSE 'Low' END AS Performance FROM IAMarks WHERE Year >= 2022 GROUP BY CourseCode, CourseTitle ORDER BY NumStudents DESC",
"Q78": "SELECT Major, Department, AVG(GPA) AS AvgGPA FROM Student GROUP BY Major, Department ORDER BY AvgGPA DESC LIMIT 10",
"Q79": "SELECT Major, Department, AVG(GPA) AS AvgGPA FROM Student GROUP BY Major, Department WITH ROLLUP ORDER BY AvgGPA DESC",
"Q80": "SELECT Major, Department, AVG(GPA) AS AvgGPA FROM Student GROUP BY Major, Department WITH CUBE ORDER BY AvgGPA DESC",
"Q81": "SELECT DISTINCT CourseCode, CourseTitle FROM IAMarks",
"Q82": "SELECT CourseCode, CourseTitle FROM IAMarks ORDER BY NumStudents DESC LIMIT 10 OFFSET 10",
"Q83": "SELECT CourseCode, CourseTitle FROM IAMarks WHERE Year = 2022 UNION ALL SELECT CourseCode, CourseTitle FROM IAMarks WHERE Year = 2023",
"Q84": "SELECT CourseCode, CourseTitle FROM IAMarks WHERE Year = 2022 INTERSECT SELECT CourseCode, CourseTitle FROM IAMarks WHERE Department = 'Computer Science'",
"Q85": "SELECT CourseCode, CourseTitle FROM IAMarks WHERE Year = 2022 EXCEPT SELECT CourseCode, CourseTitle FROM IAMarks WHERE Department = 'Computer Science'",
"Q86": "SELECT TID FROM Teacher WHERE EXISTS (SELECT 1 FROM IAMarks WHERE IAMarks.TID = Teacher.TID AND Year = 2022)",
"Q87": "SELECT TID FROM Teacher WHERE NOT EXISTS (SELECT 1 FROM IAMarks WHERE IAMarks.TID = Teacher.TID AND Year = 2022)",
"Q88": "SELECT TID FROM Teacher WHERE TID IN (SELECT TID FROM IAMarks WHERE Year = 2022)",
"Q89": "SELECT TID FROM Teacher WHERE TID NOT IN (SELECT TID FROM IAMarks WHERE Year = 2022)",
"Q90": "SELECT TID FROM Teacher WHERE EXISTS (SELECT 1 FROM IAMarks WHERE IAMarks.TID = Teacher.TID AND FinalIA > 90)",
"Q91": "SELECT TID FROM Teacher WHERE ALL (SELECT FinalIA FROM IAMarks WHERE IAMarks.TID = Teacher.TID AND Year = 2022) > 80",
"Q92": "SELECT CourseCode, CourseTitle, AVG(FinalIA) AS AvgIA FROM IAMarks WHERE Year >= 2022 AND Department = 'Computer Science' GROUP BY CourseCode, CourseTitle HAVING (SELECT COUNT(*) FROM Student WHERE Major = 'Computer Science' AND GPA >= 3.5) > 100 ORDER BY AvgIA DESC LIMIT 10",
"Q93": "WITH high_performing_courses AS (SELECT CourseCode, CourseTitle FROM IAMarks WHERE Year >= 2022 AND AvgFinalIA >= 80) SELECT CourseCode, CourseTitle, COUNT(*) AS NumStudentsEnrolled FROM IAMarks JOIN Student ON IAMarks.USN = Student.USN WHERE CourseCode IN (SELECT CourseCode FROM high_performing_courses) GROUP BY CourseCode, CourseTitle ORDER BY NumStudentsEnrolled DESC LIMIT 10",
"Q94": "SELECT CourseCode, CourseTitle, AVG(FinalIA) AS AvgIA, RANK() OVER (ORDER BY AvgIA DESC) AS Rank FROM IAMarks WHERE Year >= 2022 GROUP BY CourseCode, CourseTitle",
"Q95": "UPDATE Student SET GPA = GPA + 0.1 WHERE GraduationDate >= '2022-05-31' AND GraduationDate < '2023-05-31'",
"Q96": "DELETE FROM Student WHERE GPA < 2.0",
"Q97": "INSERT INTO Student (USN, StudentName, Major, GPA) VALUES ('1234567890', 'John Doe', 'Computer Science', 3.5)",
"Q98": "TRUNCATE TABLE Student",
"Q99": "DROP TABLE Student",
"Q100": "INSERT INTO Student (USN, StudentName, Major, GPA) SELECT USN, StudentName, Major, GPA FROM TempStudent WHERE GPA >= 3.5"
}



import pandas as pd
import numpy as np

keys = list(sql_queries.keys())[:100]

# Create a DataFrame with the keys as columns
df = pd.DataFrame(columns=keys)



# Fill the DataFrame with random numbers between 0 and 500 for each column
for column in keys:
    df[column] = np.random.randint(0, 501, size=10)

# Save the DataFrame to a CSV file
df.to_csv("dataset.csv", index=False)

# Display the DataFrame
print(df)

    Q1   Q2   Q3   Q4   Q5   Q6   Q7   Q8   Q9  Q10  ...  Q91  Q92  Q93  Q94  \
0  325   72  184  405  431  354  302  190  415  492  ...  329   30  441  458
1  229  235  141  482  170  242  219  313  173  148  ...  224  139  221   25
2   37  172   78  319  220  332  422  334  314  488  ...  248  153  131  441
3  224  465  421  101  236  252  142  216  432  218  ...  330   65   50   86
4  474  395  110  178  270  165  405  491  125   32  ...  246  441  418  322
5  282  432  241  146   67  327  373  162  354  166  ...  175  211  212    6
6  141  206   40   45  287  488  181  471  113  441  ...  363  341   12  339
7  110   92  462  373  298    7  315   88  387  282  ...   30  375  189  440
8  245  325  299   79  480  395  137   60  141  431  ...  382  385  469  106
9  291  290  114  344  399  369   87   52  196  163  ...  367  127  391  116

   Q95  Q96  Q97  Q98  Q99  Q100
0  406  307  125  201  282   260
1   27  187  316  238  384   134
2  407  223   21   51  228   466
3  120  441    9   43   45   107
4  461   45  199  176  457    20
5  113  485   25  133   52   105
6  471  481  137  271  345   286
7   20  160  129  294  440   149
8   59  305  105   54  122   283
9   83   52  184  444  304    32

[10 rows x 100 columns]